.flash {
    text-align: right;
    display: inline-block;
    padding: 20px 50px;
    border-radius: 3px;
    font-size: 1.2rem;
    color: white;
}

.success {
    background-color: $green;
}

.error {
    background-color: $red;
}
