.header {
  position: relative;
  width: 100%;
  height: 45vh;
  background-image: url("../../assets/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  position: absolute;
  left: 80px;
  bottom: 0;
  width: 350px;
  font-size: 5rem;
  padding: 2rem;

  span,
  &:first-letter {
    color: $red;
  }
}
