.card {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 50px 0;
  border-radius: 3px;
  background-color: white;
  box-shadow: $box;
  text-align: center;

  h2 {
    font-size: 3rem;
    color: $red;
    margin-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $black;
  }

  .date {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    span {
      padding: 1rem;
      font-size: .8rem;
      color: $blue;
    }
  }

  img {
    padding: 1rem;
  }

  p {
    margin-top: 1rem;
    padding: 1rem 0;
    color: $black;
  }
}
