@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

// Variables
// ===============
$black: #222f3e;
$green: #10ac84;
$red: #ee5253;
$blue: #2e86de;
$bg-light: #EFEFEF;
$box: 0 3px 6px #00000029;

// Tools
// ===============
@import 'tools/reset';
@import 'tools/mixins';


// Generic
// ===============
body, html {
  font-family: 'Poppins', sans-serif;
  background-color: $bg-light;
  color: $black;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 600;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

// Pages
// ===============
@import "pages/login";

// Modules
// ===============
@import "modules/header";
@import "modules/post";
